.contain{
    background-color: bisque;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Abril Fatface', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 5px 5px rgb(227, 219, 226);
    color: #BD3E56;
}
table{
    /* border: solid #8C3244; */
    background: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    width: 70vw;
    height: 50vh;
    padding: 5px; 
    
}
th{
    border: solid #B00A2A;
    font-family: 'Abril Fatface', cursive;
    color: #B00A2A;
    background: rgba(0, 0, 0, 0.868);
    font-size: 40px;
  }

td{
    border: solid #7D071E;
    background: rgba(0, 0, 0, 0.71);
    font-size: 40px;
    color: #B00A2A;
   
}
.swal-overlay {
    background-color: rgba(135, 30, 30, 0.457);
  }
  .swal-modal {
    background-color: blanchedalmond;
    border: 3px solid white;
  }
  .swal-button{

  }
  .disable{
     
      /* pointer-events: none; */
  }
.customSwalBtn{
    background-color: rgba(214,130,47,1.00);
border-left-color: rgba(214,130,47,1.00);
border-right-color: rgba(214,130,47,1.00);
border: 0;
border-radius: 3px;
box-shadow: none;
color: #fff;
cursor: pointer;
font-size: 17px;
font-weight: 500;
margin: 30px 5px 0px 5px;
padding: 10px 32px;
}
