.contain{
    background-color: black;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Abril Fatface', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    color: red;
}
table{
    /* border: solid #8C3244; */
    background: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    width: 70vw;
    height: 50vh;
    padding: 5px; 
    
}
th{
    border: solid #B00A2A;
    font-family: 'Abril Fatface', cursive;
    color: #B00A2A;
    background: rgba(0, 0, 0, 0.868);
    font-size: 40px;
  }

td{
    border: solid #7D071E;
    background: rgba(0, 0, 0, 0.71);
    font-size: 40px;
    color: #B00A2A;
   
}
.swal-overlay {
    background-color: rgba(135, 30, 30, 0.457);
  }
  .swal-modal {
    background-color: blanchedalmond;
    border: 3px solid white;
  }
  
.swal-button{
background-color:rgba(255, 0, 0, 0.875);
border-radius: 13px;
display: flex;
flex-direction: column;
color: #fff;
cursor: pointer;
font-size: 17px;
font-weight: 500;
margin:0px;
padding: 10px 32px;
}
td:hover{
background-color: white;
}
